<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>ISP Recommendation System</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.isp.controller.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

	 <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.isp.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.isp.controller.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>RecommendationServlet</servlet-name>
        <servlet-class>com.isp.controller.RecommendationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecommendationServlet</servlet-name>
        <url-pattern>/recommendation</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.isp.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
	 <session-config>
        <session-timeout>30</session-timeout> <!-- Session expires after 30 minutes -->
    </session-config>
<listener>
    <listener-class>com.isp.listener.AppShutDownListener</listener-class>
</listener>


</web-app>
